.Tutorial {
  :global {
    h3 {
      margin-top: 0;
    }
    section {
      font-size: 18px;
    }
  }
}

.consoleImg {
  background: black;
  overflow: auto;
  margin-bottom: 20px;
}
.consoleC9Img {
  background: #E8EEF6;
  overflow: auto;
  margin-bottom: 20px;
}