.Help {
  :global {
  }
}

.steps {
  section {
    margin: 0 0 15px;
    font-size: 18px;
    line-height: 1.72222;
  }
}

.yellow {
  color: yellow;
}
.success {
  color: lime;
}
.cyan {
  color: cyan;
}
.gray {
  color: grey;
}