
.ChallengeDetails {
  :global {
    p {
      font-size: 14px;
    }
    .nav-tabs {
      margin-bottom: 0;
      border-bottom: none;
       > li.active:first-child:before {
        position: absolute;
        bottom: -4px;
        left: 0;
        z-index: 2;
        display: block;
        width: 6px;
        height: 6px;
        content: "";
        background-color: #fff;
        border-left: 2px solid #e1e4e7;
      }
    }
  }
}