.UserPhoto {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  color: #eee;
  font-weight: normal;
}

.size128 {
  width: 128px;
  height: 128px;
  line-height: 128px;
  font-size: 7.5rem;
}

.size24 {
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.5rem;
}