@import "variables";

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 191px;
}
@media (max-width: 767px) {
  body {
    margin-bottom: 0;
  }
}

:global {
  body.landing {
    margin-bottom: 0;
  }
  .CodeMirror {
    height: auto !important;
  }


  .badge {
    background-color: #777;
    color: #fff;
  }
  .bgm-red {
    background-color: $red !important;
  }
  .bgm-green {
    background-color: $green !important;
  }
  .c-gray {
    color: #9E9E9E !important;
  }

  @keyframes :global(spin) { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .react-progress-bar-spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #29d;
    border-left-color: #29d;
    border-radius: 50%;
    animation: spin 500ms linear infinite;
    z-index: 10000;
    position: fixed;
    top: 5px;
    left: 5px;
  }

  pre {
    background: #474747;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #f8f8f2;
    display: block;
    margin: 1.5em 0;
    padding: 1em 70px 1em 1.5em;
    position: relative;
  }

  pre code {
    background: 0 0;
    border: none;
    color: #f8f8f2;
    display: inline-block;
  }

  code .nv {
    user-select: none;
  }

  .nav-tabs {
    margin-bottom: 0;
    border-bottom: none;
    > li.active:first-child:before {
      position: absolute;
      bottom: -4px;
      left: 0;
      z-index: 2;
      display: block;
      width: 6px;
      height: 6px;
      content: "";
      background-color: #fff;
      border-left: 2px solid #e1e4e7;
    }
  }
  @media (max-width: 767px) {

    .nav-tabs {
      > li.active:first-child:before {
        display: none;
      }
    }
  }
}