.Ranking {
  table {
    background-color: #edeff1;
    border-radius: 4px;
  }
  td, tr {
    vertical-align: middle !important;
    img {
      vertical-align: middle;
      margin-right: 10px;
    }
  }
  :global {
  }
}

.UserIcon{
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  font-size: 1.5rem;
  text-align: center;
  color: #eee;
  font-weight: normal;
}