.SocialAuth {
  :global {
  }
}


.or {
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  text-align: center;
  span {
    font-size: 18px;
    display: inline-block;
    padding: 0 20px;
  }
  hr {
    display: inline-block;
    width: 25%;
    height: 4px;
    border-top: 1px solid #bfc9ca;
    line-height: 16px;
    margin: 0;
  }
}

.social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  a {
    border-radius: 3px;
    color: #fff !important;
    display: inline-block;
    height: 35px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 300;
    padding-right: 15px;
    i {
      border-right: 1px solid rgba(0,0,0,0.1);
      float: left;
      font-size: 14px;
      line-height: 35px;
      padding: 0 10px;
    }
    span {
      float: left;
      line-height: 35px;
      padding-left: 10px;
    }
  }
}
.socialBtnFB {
  background-color: #6475c4;
}

.socialBtnG {
  background-color: #e3513c;
}

.socialBtnGH {
  background-color: #66c139;
}