.ProfileInfo {

  background-color: #edeff1;
  padding: 15px;
  :global {
    img {
      margin: 0 auto;
      width: 100%;
    }
    .rank {
      padding: 10px 5px 0;
      color: white;
      text-align: center;
      h2 {
        margin: 0;
      }
    }
    h5 {
      margin-bottom: 0;
    }
    h6 {
      margin-top: 5px;
    }
  }
}