.TopicItem {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 53px;
  :global {

  }

  h2 {
    display: block;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-left: 62px;
    a {
      color: #555;
    }
    small {
      font-size: 65%;
      color: #b4bcc2;
    }
  }
}